.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(0, 0, 77);

    height: 100dvh;
    width: 100dvw;

    margin: 0;
    padding: 0;
}

.border {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 75dvh;
    width: 50dvw;

    background-color: rgb(86, 180, 220);
    border: 15px double rgb(34, 127, 170);

    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 38%;
    background-color: rgb(102, 153, 255);
    border: none;
}

::selection {
    background: rgb(0, 179, 89);
    color: rgb(0, 51, 26);
}

.email_body {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background: rgb(15, 55, 72);

    height: 100dvh;
    width: 100dvw;

    margin: 0;
    padding: 0;
}

#output {
    white-space: pre-wrap;
}
